/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--main-font-410);
  background-image: 
    repeating-linear-gradient(var(--bg-gradient-horizontal)),
    repeating-linear-gradient(var(--bg-gradient-vertical)),
    linear-gradient(var(--bg-gradient-transition));
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.content-inline-size{
  inline-size: var(--content-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-family: var(--accent-font);
  background-color: #fff;
  text-transform: uppercase;
  padding: 122px 16px;
  margin-block-start: 100px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  inline-size: var(--content-inline-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content__card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.16em;
  border-block-end: none;
}

.card__text {
  border-block-end: none;
}

.card__heading {
  font-variation-settings: var(--main-font-715);
  font-size: 18px;
  padding: 6px 10px;
}

.card__cover {
  position: relative;
  width: 100%;
  min-height: 371px;
  margin-block-end: 25px;
}

.card__cover-image {
  aspect-ratio: 1/1;
  background-image: url(../images/van.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.card__cover-label {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
  opacity: 50%;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports(-webkit-text-stroke: 1px #fff) {
  .card__cover-label {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      text-stroke: 1px #fff;
      text-shadow: none;
  }
}

.card__description {
  margin: 0 25px 25px;
}

.card__memories {
  margin: 0 25px 25px;
}

.card__like-button {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  gap: 12px;
  margin: 0 25px 25px auto;
}

.button__text {
  padding: 0.9em 2.6em;
}

.border {
  border: 2px solid #000;
}

.border-bottom {
  border-block-end: 2px solid #000 ;
}

.content__save-button {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
  margin-block-end: 100px;
}

.content__save-button .button__text {
  padding: 0;
}


