/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 94px;
  font-family: var(--main-font), sans-serif;
  background-image: repeating-linear-gradient(var(--bg-gradient-horizontal)),
    repeating-linear-gradient(var(--bg-gradient-vertical)),
    linear-gradient(var(--bg-gradient-transition));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font-410);
}

.content-inline-size {
  inline-size: var(--content-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  padding: 130px 16px;
  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  inline-size: var(--content-inline-size);
}

.content__card {
  display: flex;
  flex-direction: column;
  border-block-end: none;
  font-size: 18px;
  line-height: 1.16em;
  background-color: #fff;
}

.card__text {
  border-block-end: none;
}

.card__heading {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: var(--main-font-715);
}

.card__cover {
  position: relative;
  width: 100%;
  min-height: 371px;
  margin-block-end: 25px;
  aspect-ratio: 1/1;
}

.card__cover-image {
  /* background-image: url(../images/van.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  
}

.card__cover-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__cover-label {
    text-shadow: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-stroke: 1px #fff;
  }
}

.card__description {
  margin: 0 25px 25px;
}

.card__memories {
  margin: 0 25px 25px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  align-self: flex-end;
  margin: 0 25px 25px auto;
}

.card__like-button {
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  transition: box-shadow 0.3s;
  width: 130px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  transition: border 0.3s ease;
}

.card__icon-button svg {
  width: 39px;
  height: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.border {
  border: 2px solid #000;
}

.border-bottom {
  border-block-end: 2px solid #000;
}

.content__save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 100px;
  padding: 15px 18px;
  overflow: hidden;
  color: #fff;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.content__save-button .button__text {
  padding: 0;
}

.grayscaled {
  filter: grayscale(80%);
}

.saturated {
  filter: saturate(5);
}

.hued {
  filter: hue-rotate(40deg);
}

.inverted {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blurred {
  filter: blur(10px);
}

.hued__low-contrast {
  filter: hue-rotate(80deg) contrast(50%);
}

.save-dialog {
  position: fixed;
  inset: 0 0 0 0;
  display: none;
  flex-direction: column;
  gap: 30px;
  min-width: 340px;
  max-width: 350px;
  padding: 30px;
}

.save-dialog[open] {
  display: flex;
}

body:has(.save-dialog[open]) {
  overflow: hidden;
}

.save-dialog::backdrop {
  backdrop-filter: brightness(0.3);
}

.save-dialog__description {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 20px;
}

.save-dialog__text {
  font-family: var(--accent-font);
}

.save-dialog .floppy-icon {
  align-self: center;
  width: initial;
  height: initial;
}
.dialog__save-button {
  grid-column: 1 / 3;
  margin-block-end: 0;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.floppy {
  position: relative;
  z-index: 2;
  width: 21px;
  mix-blend-mode: difference;
}

/* Переходы кнопок */

.card__like-button,
.content__save-button,
.dialog__save-button {
  position: relative;
}

.card__like-button:focus,
.content__save-button:focus,
.dialog__save-button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.card__like-button::after,
.content__save-button::after,
.dialog__save-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__like-button:hover::after,
.content__save-button:hover::after,
.dialog__save-button:hover::after {
  transform: translateX(0%);
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

/* Анимация сердца */

.core,
.main-body {
  fill: transparent;
  transition: fill linear 0.3s;
}

.core {
  transition-delay: 0.03s;
}

.contour {
  fill: var(--animation-contour-color);
  transition: fill linear 0.1s;
}

.sparks {
  opacity: 0%;
  fill: var(--animation-fill-color);
}

/* Like-icon hover*/

.like-icon:hover .core {
  fill: var(--animation-contour-color);
  transition-delay: none;
}

.like-icon:hover .main-body {
  fill: var(--animation-contour-color);
  transition-delay: 0.05s;
}

/* Like-icon active*/

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: none;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

/* Like-icon click */

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: none;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

/* Движение сердца */
.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: enlarge 0.3s ease-in 0.1s;
}

@media (width <= 375px) {
  .page {
    gap: 100px;
  }

  .header {
    padding: 120px 16px;
  }

  .content__save-button {
    flex-direction: column;
  }

  .floppy {
    width: 28px;
  }
}
