/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 94px;
  font-family: var(--main-font), sans-serif;
  background-image: repeating-linear-gradient(var(--bg-gradient-horizontal)),
    repeating-linear-gradient(var(--bg-gradient-vertical)),
    linear-gradient(var(--bg-gradient-transition));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font-410);
}

.content-inline-size {
  inline-size: var(--content-inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  padding: 130px 16px;
  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  inline-size: var(--content-inline-size);
}

.content__card {
  display: flex;
  flex-direction: column;
  border-block-end: none;
  font-size: 18px;
  line-height: 1.16em;
  background-color: #fff;
}

.card__text {
  border-block-end: none;
}

.card__heading {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: var(--main-font-715);
}

.card__cover {
  position: relative;
  width: 100%;
  min-height: 371px;
  margin-block-end: 25px;
}

.card__cover-image {
  background-image: url(../images/van.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  aspect-ratio: 1/1;
}

.card__cover-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__cover-label {
    text-shadow: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-stroke: 1px #fff;
  }
}

.card__description {
  margin: 0 25px 25px;
}

.card__memories {
  margin: 0 25px 25px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  align-self: flex-end;
  margin: 0 25px 25px auto;
}

.card__like-button {
  padding: 10px 35px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  transition: box-shadow 0.3s;
  overflow: hidden;
}

.card__icon-button {
  padding: 0;
  border: none;
}

.border {
  border: 2px solid #000;
}

.border-bottom {
  border-block-end: 2px solid #000;
}

.content__save-button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 100px;
  padding: 15px 18px;
  font-family: var(--accent-font);
  background-color: #fff;
  transition: box-shadow 0.3s;
  overflow: hidden;
}

.content__save-button .button__text {
  padding: 0;

}

.floppy-icon {
  width: 21px;
  height: 21px;
  z-index: 2;
  stroke: #fff;
  fill: #fff;
  position: relative;
  mix-blend-mode: difference;
}

.grayscaled {
  filter: grayscale(80%);
}

.saturated {
  filter: saturate(5);
}

.hued {
  filter: hue-rotate(40deg);
}

.inverted {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blurred {
  filter: blur(10px);
}

.hued__low-contrast {
  filter: hue-rotate(80deg) contrast(50%);
}

.save-dialog {
  position: fixed;
  inset: 0 0 0 0;
  display: none;
  flex-direction: column;
  gap: 30px;
  min-width: 340px;
  max-width: 350px;
  padding: 30px;
}

.save-dialog[open] {
  display: flex;
}

body:has(.save-dialog[open]) {
  overflow: hidden;
}

.save-dialog::backdrop {
  backdrop-filter: brightness(.3);
}

.save-dialog__description {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 20px;
}

.save-dialog__text {
  font-family: var(--accent-font);
}

.save-dialog .floppy-icon {
  width: initial;
  height: initial;
}
.dialog__save-button {
  grid-column: 1 / 3;
  margin-block-end: 0;
  transition: box-shadow 0.3s;
  overflow: hidden;
}

/* Переходы кнопок */

.card__like-button,
.content__save-button,
.dialog__save-button{
  position: relative;
}

.card__like-button:focus,
.content__save-button:focus,
.dialog__save-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.card__like-button::after,
.content__save-button::after,
.dialog__save-button::after {
  content: '';
  display: inline-block;
  position: absolute;
  inset: -50%;
  width: 500px;
  height: 500px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::after,
.content__save-button:hover::after,
.dialog__save-button:hover::after {
  transform: translateX(0%);
}

.button__text {
  z-index: 2;
  color: #fff;
  position: relative;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .page {
    gap: 100px;
  }

  .header {
    padding: 120px 16px;
  }

  .content__save-button {
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}
