/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter-Variable";
  --main-font-410: "wght" 410;
  --main-font-715: "wght" 715;
  --accent-font: "PressStart2P";
  --accent-color: #000;
  --animation-contour-color: #000;
  --animation-fill-color: red;
  --bg-gradient-horizontal: #d3d3d3 0 2px, transparent 2px 4px;
  --bg-gradient-vertical: 90deg, #d3d3d3 0 2px, transparent 2px 4px;
  --bg-gradient-transition: #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%;
  --content-inline-size: clamp(375px, 100%, 700px);
}
